@import url('https://fonts.googleapis.com/css2?family=Staatliches');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

section{
  background-color: black;
  border: 1.5px solid red;
  border-radius: 5%;
  box-shadow:7px 7px 16px 4px rgb(255 255 255 / 20%);
  padding: 60px;
  font-family:'Ubuntu';
}

h1, p{
  color: white;
}
.a3media-section__back{
  font-family:'Staatliches';
  font-size: 35px;
  position: absolute;
  top: 20%;
  right: 5%;

}
.a3media-section__back:hover{
  text-decoration: none;
}
.a3media-section__edit-btn, .a3media-section__delete-btn{
  padding: 5px 14px;
  color: white;
  border-radius: 8px;
  margin: 10px;
  border: none;
}
.a3media-section__edit-btn{
  background-color: blue;
}
.a3media-section__delete-btn{
  background-color: red;
}
