@import url('https://fonts.googleapis.com/css2?family=Staatliches');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

section{
  background-color: black;
  border: 1.5px solid red;
  border-radius: 5%;
  box-shadow:7px 7px 16px 4px rgb(255 255 255 / 20%);
  padding: 60px;
  font-family:'Ubuntu';
}

h1, p{
  color: white;
}
.a3media-section__back{
  font-family:'Staatliches';
  font-size: 35px;
  width:10%;
  position: absolute;
  top: 20%;
  right: 5%;
  display: flex;
  justify-content: space-around;
  color: white;
}
.a3media-section__back:hover, .bi .bi-skip-backward:hover{
  text-decoration: none;
  color: white;
}
.a3media-section__edit-btn, .a3media-section__delete-btn{
  padding: 5px 14px;
  color: white;
  border-radius: 8px;
  margin: 10px;
  border: none;
}
.a3media-section__edit-btn{
  color: blue;
  border: 2px solid blue;
  background-color: white;
}
.a3media-section__delete-btn{
  color: red;
  border: 2px solid red;
  background-color: white;
}
@media screen and (max-width: 576px) {
  .a3media-section__back{
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .a3media-section__back{
    width: 30%;
  }
}
@media screen and (max-width: 992px) {
  .a3media-section__back{
    width: 20%;
  }
}