.a3media-success__main-container{
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color:rgba(0,0,0, 50%);
  z-index: 3;
}
.a3media-success__container{
  background-color: white;
  border: 1px solid grey;
  padding: 120px 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  box-shadow: 7px 7px 16px 4px rgb(255 255 255 / 20%);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 50%;
}
.a3media-success__a3media__title{
  font-family:'Staatliches';
  font-size: 33px;
  color: black;
  text-align: center;
}
.a3media-success__btn{
  padding: 5px 7px;
  color:black;
  border-radius: 8px;
  border: 2px solid green;
  background-color: white;
  margin-top: 30px;
  width: 30%;
  cursor: pointer;
}